form{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    height: 90vh;
  
    background: linear-gradient(#efea6b,#0be57f);
    border-radius: 30px;
    box-shadow: 5px;
    font-size: 1.5rem;  
    flex-direction: column; 
   }
  
header,footer{
  display: flex;
  background: linear-gradient(#1cb6d1);
  justify-content: center;
  color: #0e6d7e;
}
footer{
  background: linear-gradient( #9b31dc);
}
#main{
  background: linear-gradient(#839adb, #bb26e9);
}
input{
  size: 20px;
}
.content{

  margin:20px;
  display: flex;
  justify-content: center;
  
  background: transparent;
  size: 10px;
  border-radius: 10px;
  
}
